.difficultyFilter {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    h4 {
        margin: 7px 0 10px 0;
    }

    .filterItem {
        margin-bottom: 5px;
        margin-left: 20px;

        label {
            margin-left: 8px;
        }
    }
}