nav {
    height: 60px;
    background-color: rgb(39, 42, 52);
    margin-bottom: 50px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
        display: flex;
        list-style-type: none;

        li {
            text-transform: uppercase;
            background-color: rgb(16, 17, 21);
            padding: 8px 15px;
            margin-left: 8px;
            font-family: 'Roboto', sans-serif;
            font-size: .82rem;
            font-weight: 900;
            transition: all .3s;

            &:hover{
                background-color: rgb(93, 99, 118);
            }

            i {
                margin-right: 3px;
            }

            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}